Daftar Menu
<ul>
    <li>
        <a routerLink="/menu/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li>
        <a routerLink="/menu/satker" routerLinkActive="active">Satker</a>
    </li>
    <li>
        <a routerLink="/menu/kppn" routerLinkActive="active">KPPN</a>
    </li>
</ul>

Administrator
<ul>
    <li>
        <a routerLink="/menu/admin/password" routerLinkActive="active">Password</a>
    </li>
    <li>
        <a routerLink="/menu/admin/monitoring" routerLinkActive="active">Monitoring</a>
    </li>
</ul>


<router-outlet></router-outlet>